<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74575929569-1o7suj00ch4kg659lk8680k2c0bk4o3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74575929569-1o7suj00ch4kg659lk8680k2c0bk4o3v</string>
	<key>API_KEY</key>
	<string>AIzaSyBUouMu36qAdh3WdzImh-F0CFNtSU_AEMo</string>
	<key>GCM_SENDER_ID</key>
	<string>74575929569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gudtech.tobuylist</string>
	<key>PROJECT_ID</key>
	<string>tobuylist-fe0a8</string>
	<key>STORAGE_BUCKET</key>
	<string>tobuylist-fe0a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74575929569:ios:fc37276f40165d42a257a0</string>
	<key>DATABASE_URL</key>
	<string>https://tobuylist-fe0a8.firebaseio.com</string>
</dict>
</plist>